.filter-container-box{
  height: 60px;
  position: relative;
}

.program-container-box{
  min-width: 1400px; /*no*/
  max-width: 1900px; /*no*/
  // height: 650px;
  border: 1px solid transparent;/*no*/
  display: flex;
}

.input-box{
  margin: 0 20px;
  margin-top: 10px;
  width: 400px;
}

.button-box{
  height: 40px;
  margin-top: 10px;
}

.tooltip-container{
  display: flex;
  position: absolute;
  right: 10px;
  top: 10px;
}

.tooltip{
  margin-right: 20px;
  margin-left: 40px;
}

.program-table-container{
  /* width: 100%; */
  padding: 10px 260px;
  flex: 1;
  overflow-x: hidden;
}

.program-table{
  width: 20.37037rem;
  min-width: 1000px; /*no*/
  /* margin: 10px 260px; */
}

.page-container{
  margin: 20px 340px;
}