
$primary-color: rgb(49, 76, 147);
$primary-text-color: rgb(80, 148, 228);

$panel-border-color: $primary-color;
$panel-background-color: rgb(11, 21, 49);

$running-state-border-color: $primary-text-color;

